<!DOCTYPE HTML>

<html lang=pt-br>
 <head>
  <meta charset="utf-8" />
  
  <title>GMS- Política de privacidade</title>
  
  </head>
  
 <body>

   <header>
    <h1>GMS - Política de privacidade</h1>
    </header>

   <nav>
    <h1 id="contents">Conteúdo</h1>

     <ul>
     <li><a href="#personal-info">Informações pessoais</a>
      <ul><li><a href="#misc_children">Crianças</a></li></ul>
      </li>
     
     <li><a href="#collection">Coleta de dados</a>
      <ul><li><a href="#collection_tracking">Tecnologias de ratreamento</a></li></ul>
      </li>
      
     <li><a href="#use">Uso</a>
      </li>
    
     <li><a href="#disclosure">Divulgação</a>
      <ul>
       <li><a href="#disclosure_partners">Parceiros</a></li>
       <li><a href="#disclosure_legal">Processos legais</a></li>
       </ul></li>
      
     <li><a href="#storage">Armazenamento</a>
      <ul>
       <li><a href="#storage_location">Onde sua informação é armazenada</a></li>
       <li><a href="#storage_duration">Por quanto tempo guardamos seus dados</a></li>
       </ul></li>
      
    <li><a href="#misc">Sobre</a>
     <ul><li><a href="#choice">Suas escolhas</a></li>
      <li><a href="#change">Mudanças nessa política</a></li>
      <li><a href="#contact">Fale conosco</a></li>
      </ul></li>
      
     </ul>
    </nav>
   
   <article>

    <nav class="to-top"><a href="#contents">Volta para o topo</a></nav>

    <section>

     <h1 id="personal-info">Informações pessoais</h1>

      <h2 id="misc_children">Crianças</h2>

     </section>
   
    <nav class="to-top"><a href="#contents">Volta para o topo</a></nav>
   
    <section>
    
     <h1 id="collection">Como coletamos seus dados de navegação</h1>

      <h2 id="collection_tracking">Tecnologias de rastreamento</h2>

     </section>

    <nav class="to-top"><a href="#contents">Volta para o topo</a></nav>

    <section>

     <h1 id="use">Como usamos suas informações</h1>

     </section>

    <nav class="to-top"><a href="#contents">Volta para o topo</a></nav>

    <section>

     <h1 id="disclosure">Quando compartilhamos suas informações</h1>

      <h2 id="disclosure_partners">Nossos parceiros</h2>

      <h2 id="disclosure_legal">Processos legais</h2>

     </section>

    <nav class="to-top"><a href="#contents">Volta para o topo</a></nav>

    <section>

     <h1 id="storage">Cuidados com sua informação</h1>

      <h2 id="storage_location">Onde sua infromação é armazenada</h2>

      <h2 id="storage_duration">Por quanto tempo guardamos seus dados</h2>

     </section>

    <nav class="to-top"><a href="#contents">Volta para o topo</a></nav>

    <section>

     <h1 id="misc">Sobre</h1>

      <h2 id="misc_choice">Suas escolhas</h2>

      <h2 id="misc_changes">Mudanças</h2>

      <h2 id="misc_contact">Fale conosco</h2>

     </section>

    </article>

  </body>

 </html>